.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
  background-size: cover;
  background-position: center;
}
.form {
  background: linear-gradient(to bottom, #d5b58f97, #353a5a97, #00265497);
  padding: 10px 60px;
  border-radius: 10px;
}
.success-form {
  background: linear-gradient(to bottom, #d5b58f97, #353a5a97, #00265497);
  padding: 10px 60px;
  border-radius: 10px;
  width: 300px;
  height: 250px;
}
h1 {
  text-align: center;
  color: #002654;
}
.btn {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #002654e0;
  color: red;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}
.success {
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}
.pop {
  font-size: 15px;
  position: absolute;
  background-color: #d5b58fd3;
  padding: 30px 60px;
  border-radius: 10px;

}